.comments {
  border-top: 1px dotted #65676a;
  padding-top: 32px;
  margin-top: 32px;

  .loading {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;

    .spinner {
      margin-bottom: 16px;
    }
  }

  .disqus {
    min-height: 440px;
    opacity: 0;
    transform: translateY(16px);
    transition: 1s;

    &.ready {
      opacity: 1;
      transform: translateY(0);
    }
  }
}